<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>NINJAS</title>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body ng-app='myapp'>
    <header ng-include="'header.html'"></header>
    <main ng-view></main>

    <script src="app.js"></script>
    <script src="script.js"></script>
</body>

</html>




<!-- <div ng-init='ninjas = [
{
"name": "shaun" , "rate" : "20000" , "belt" : "red" , "src" : "" }, { "name" : "john" , "rate" : "5000"
, "belt" : "white" , "src" : "" }, { "name" : "Ryu" , "rate" : "40000" , "belt" : "blue" , "src" : "" },
{ "name" : "Kai" , "rate" : "70000" , "belt" : "black" , "src" : "" }, { "name" : "Koga" , "rate" : "40000"
, "belt" : "orange" , "src" : "" } ]'>


<input type="search" name="search" id="search" placeholder="SEARCH  NINJA" ng-model='ninja'>
<p> You search for {{ninja}}</p>

<ul>
    <li ng-repeat="x in ninjas">{{x.name}}</li>
</ul>

</div> -->